body
{
    background-color: lightgoldenrodyellow;

}
#AboutInfo{
    font-family: Consolas;
    text-align: center;
}
h1{
    position:center;
    font-family:Consolas;
    text-align:center;
}
img {

    padding-top: 5%;
    padding-bottom: 5%;
    width: 95%;
}
.ImageOne {
    float: left;
    width: 25%;
    height: 500px;
    border: 15px;
    padding: 0px;
    justify-content: center;
    display: flex;
}
.ImageThree {
    float: left;
    width: 25%;
    height: 500px;
    border: 15px;
    padding: 0px;
    justify-content: center;
    display: flex;
}
.ImageTwo {
    float: left;
    width: 25%;
    height: 500px;
    border: 15px;
    padding: 0px;
    justify-content: center;
    display: flex;
}
.ImageFour {
    float: right;
    width: 25%;
    height: 500px;
    border: 15px;
    padding: 0px;
    justify-content: center;
    display: flex;
}
li {
    display: inline;
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration-line: none;
    }

a {
    padding: 10px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}


.container {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: grey;
    margin-top: 0px;
    position: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
nav {
    font-family: Consolas;
    font-style: normal;
    padding: 0px;
}
